/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Nov 2020, 7:36:58 AM
    Author     : Aphiwe
*/

html {scroll-behavior: smooth;}
body{color: white; font-family: 'Inter', sans-serif;}

.navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}

.nav-item:hover a{color: #444a56 !important;}

.name{font-size: 500% !important;}

.bg-charleston-green{background-color: #222a35 !important;}
.bg-gunmetal{background-color: #29313c !important;}
.bg-darkgunmetal{background-color: #1c222e !important;}

figure{color: #3baec9;}

a .fab {color: white; text-decoration: none;}
a .fa-brands{color: white; text-decoration: none;}

.card{height: 50vh;}

.btn-moonstone{background-color: #3baec9; border: 0;}
.btn:hover{background-color: rgba(246, 71, 71, 1); border: 0;}

.vh-30{height: 30vh;}

p a {color: white; text-decoration: none;}

@media only screen and (max-width: 576px) {
    .name{font-size: 300% !important;}
    #skills{height: auto !important;}
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    /* #skills{height: auto !important; padding: 100px 0 100px 0;} */
}